<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,2},{135,172}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{135,172}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>dragon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,2},{137,172}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{137,172}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>dragon3.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,2},{137,172}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{137,172}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>dragon4.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,2},{137,172}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{137,172}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>dragon5.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{141,172}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{141,172}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>dragon6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{135,178}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{135,178}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>dragon7.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,2},{135,174}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{135,174}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dragon.png</string>
            <key>size</key>
            <string>{973,182}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:40768d378c8ff4f250a5e7dbb6095d12:de77c44b4d0e8459ac5b57c0392460a0:c4903a2f537cac14b0fcef7b8429e510$</string>
            <key>textureFileName</key>
            <string>dragon.png</string>
        </dict>
    </dict>
</plist>
