<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>againBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,127},{336,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,90}}</string>
                <key>sourceSize</key>
                <string>{336,90}</string>
            </dict>
            <key>bottom_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{720,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,123}}</string>
                <key>sourceSize</key>
                <string>{720,123}</string>
            </dict>
            <key>helpBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,127},{336,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,90}}</string>
                <key>sourceSize</key>
                <string>{336,90}</string>
            </dict>
            <key>pasueBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,2},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>playBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,154},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>shareBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,219},{336,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,90}}</string>
                <key>sourceSize</key>
                <string>{336,90}</string>
            </dict>
            <key>startBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,219},{336,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,90}}</string>
                <key>sourceSize</key>
                <string>{336,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameUi.png</string>
            <key>size</key>
            <string>{876,311}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dfa93bda31773606b30d6ffdcf8186ff:1626f95b7c5770966adcb42d0c7c2926:f48cf464bbc926eb703f7eccb14c3623$</string>
            <key>textureFileName</key>
            <string>gameUi.png</string>
        </dict>
    </dict>
</plist>
